################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BestInvest.API/.vs/BestInvest.API
/BestInvest.API/bin/Debug/net6.0
/BestInvest.API/DAL/LocalDB
/BestInvest.API/obj
